<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.naparahandroid.fragmentproject">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name="ru.naparahandroid.fragmentproject.SendOrderFragments.InHouseActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->

            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="ru.naparahandroid.fragmentproject.SendOrderActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->

            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="ru.naparahandroid.fragmentproject.FoodListInOrdersActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="ru.naparahandroid.fragmentproject.OrdersActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="ru.naparahandroid.fragmentproject.BasketActivityTwo">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->
             <!--<action android:name="android.intent.action.USER_PRESENT" />-->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
             <!--</intent-filter>-->
        </activity>
        <activity
            android:name="ru.naparahandroid.fragmentproject.InBasketOrdersActivity"
            android:parentActivityName="ru.naparahandroid.fragmentproject.HomeActivity">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->
             <!--<action android:name="android.intent.action.USER_PRESENT" />-->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
             <!--</intent-filter>-->
        </activity>
        <activity android:name="ru.naparahandroid.fragmentproject.PhoneAuthActivity">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity android:name="ru.naparahandroid.fragmentproject.RestaurantActivity" />
        <activity android:name="ru.naparahandroid.fragmentproject.BonusActivity" />
        <activity android:name="ru.naparahandroid.fragmentproject.BasketActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="ru.naparahandroid.fragmentproject.HomeActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="ru.naparahandroid.fragmentproject.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="ru.naparahandroid.fragmentproject.EditProfileActivity"
            android:parentActivityName="ru.naparahandroid.fragmentproject.HomeActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="ru.naparahandroid.fragmentproject.LoginActivity"
            android:parentActivityName="ru.naparahandroid.fragmentproject.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="ru.naparahandroid.fragmentproject.Product34Activity"
            android:parentActivityName="ru.naparahandroid.fragmentproject.HomeActivity"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>